{
  "wifi": {
    "ssid": "YOUR_WIFI_SSID",
    "password": "YOUR_WIFI_PASSWORD"
  },
  "location": {
    "latitude": 40.7128,
    "longitude": -74.0060,
    "name": "New York"
  },
  "calendars": [
    {
      "color": "red",
      "type": "ics",
      "url": "https://calendar.google.com/calendar/ical/YOUR_CALENDAR_ID/public/basic.ics",
      "days_to_fetch": 31,
      "enabled": true
    },
    {
      "name": "Birthdays",
      "type": "ics",
      "color": "red",
      "url": "local:///calendars/birthdays.ics",
      "days_to_fetch": 40,
      "enabled": false
    }    
  ],
  "display": {
    "timezone": "EST5EDT,M3.2.0,M11.1.0",
    "update_hour": 5
  }
}